.admin-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.admin-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.admin-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-form input, 
.admin-form select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.admin-form input:focus {
    border-color: #28a745;
    outline: none;
}

.publish-btn {
    background-color: #28a745;
    color: white;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.publish-btn:hover {
    background-color: #218838;
}

.admin-table {
     width: 100%; 
     border-collapse: collapse; 
     color: black; 
     margin-top: 20px; 
    }

.admin-table th, .admin-table td 
{ padding: 12px; 
    border: 1px solid #333; 
    text-align: left; 
}
.admin-table th 
{ 
    background-color: #222;
        color: white; 
        font-weight: bold;
 }

.edit-icon-btn {
    background: none;
     border: none; 
     cursor: pointer; 
     font-size: 1.2rem; 
     margin-right: 10px; 
    }

.delete-icon-btn {
     background: none; 
     border: none; 
     cursor: pointer; 
     font-size: 1.2rem; 
    }